name: Code Linting
on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  code-linting:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v3"
      - name: "Code format"
        run: |
          pip3 install isort pylint black
          python3 -m isort $(find . -name "*.py" -not -path "./tests/*")
          python3 -m black $(find . -name "*.py" -not -path "./tests/*")
      - name: "Commit linted files"
        uses: "stefanzweifel/git-auto-commit-action@v4"
        with:
          commit_message: "Linted and formatted files"
      - name: "Code linting"
        run: |
          pip3 install -r requirements.txt
          python3 -m pylint --fail-under=9.5 $(find . -name "*.py" -not -path "./tests/*")
