name: Unit Tests
on:
    pull_request:
        branches:
            - "main"
        paths:
          - "**.py"
    workflow_dispatch:

permissions: read-all

jobs:
    unit-tests:
      name: Unit Tests
      runs-on: "ubuntu-latest"
      strategy:
          matrix:
              python-version: [ "3.9", "3.10", "3.11" ]
      steps:
          - name: "Checkout code"
            uses: "actions/checkout@v3"
          - name: "Setup Python ${{ matrix.python-version }}"
            uses: "actions/setup-python@v4"
            with:
                python-version: "${{ matrix.python-version }}"
          - name: "Install requirements"
            run: |
                pip3 install -r requirements.txt
          - name: "Unit tests"
            run: |
                mkdir tests/reports
                make test
